.queryResultsRow { 
    display: flex; 
    flex-direction: row;
}

.columnHeader { 
    display: flex; 
    flex-direction: row;
}

.queryResultsColumn { 
    display: flex; 
    flex-direction: column;
}

.field {
    width: 25%;
    background-color: yellow;
    text-align: center;
    border: solid 1px black;
    padding: 10px;

}

.headerColor{
    background-color: lightcoral;
}

.filterContainer{
    background-color: lightcyan;
    padding: 10 px;
    display: flex;
    justify-content: space-evenly;
    
}

.navbar {
    display: flex;
}